{% extends 'post/home.html' %}

{% block title %}My blog{% endblock title %}

{% block style %}
{% endblock style %}

{% block content %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<div class="row">
    <form action="" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Share" class="btn btn-primary">
    </form>
</div>


{% endblock content %}

{% block javascript %}
{% endblock javascript %}