{% extends 'base.html' %}

{% block title %}{{ book.title }} {% endblock %}

<!-- for django message-->
<!-- for django message-->


{% block content %}
<!-- Page Content -->
<div class="container">
    {% if success %}
    <p class="alert alert-success">{{ success }}</p>
    {% endif %}

    <!-- Portfolio Item Heading -->
    <h1 class="my-4">{{ book.title }}</h1>
    <span>
        {% for person in book.authors.all %}
        <a href="{% url 'book:by_author' author_id=person.id %}">{{ person }}</a>
        {% endfor %}
    </span>

    <!-- Portfolio Item Row -->
    <div class="row">

        <div class="col-md-8">
            <img class="img-fluid" src="{% if book.front_cover %} {{ book.front_cover.url }} {% endif %}" alt=""
                width="400" height="auto">
        </div>

        <div class="col-md-4">
            <h3 class="my-3">Description</h3>
            <p>{{ book.description }}</p>
            <h3 class="my-3">Book Details</h3>
            <ul>
                <li>Pages: {{ book.pages }}</li>
                <li>Publisher: {{ book.publisher.name }}</li>
                <li>Year: {{ book.year }}</li>
                <li>Language: {{ book.language }}</li>
                {% if book.isbn %}
                <li>ISBN: {{ book.isbn }}</li>
                {% endif %}
                {% if book.isbn_13 %}
                <li>ISBN 13: {{ book.isbn_13 }}</li>
                {% endif %}
            </ul>
            <a href="{% url 'book:edit_book' pk=book.id %}">
                <button class="btn btn-primary">Edit</button>
            </a>

                <input type="submit" class="btn btn-danger" id="like" value="Like">
        </div>

    </div>
    <!-- /.row -->

    <!-- Related Projects Row -->
    <h3 class="my-4">Related Books</h3>

    <div class="row">
        {% for item in related %}
        <div class="col-md-3 col-sm-6 mb-4">
            <a href="{{ item.get_absolute_url }}">
                <img class="img-fluid" src="{{ item.front_cover.url }}" alt="">
            </a>
        </div>
        {% endfor %}

    </div>
    <!-- /.row -->

</div>
<!-- /.container -->


{% endblock content %}

{% block javascript %}
<script>
$("#like").click(function (event){
    event.preventDefault();
    console.log(event);
    var value = $(this).attr("value");
    console.log(value)
    $.ajax({
        type: "GET",
        url: "/book/like/",
        data: {
            "status": value,
            "book_id": {{ book.id }}
        },
        success: function( response )
        {
            var newStatus = response.status
            $("#like").attr("value", newStatus);

            if (newStatus == "Like"){
                $("#like").attr("class", 'btn btn-success');
            }else{
                $("#like").attr("class", 'btn btn-danger');
            }

        }

    });

});
</script>

{% endblock javascript %}