{% extends 'base.html' %}
{% load static %}

{% block title %}Anurag's Books collection {% endblock %}

    {% block style %}
    <link rel="stylesheet" href="{% static 'css/book.css' %}">
    {% endblock style %}

{% block header %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'book:book_home' %}">Books</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'book:book_home' %}">Welcome <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'book:book_list' %}">Browse</a>
            </li>
                        <li class="nav-item">
                <a class="nav-link" href="{% url 'book:authors_list' %}">Authors</a>
            </li>

        </ul>
        <form class="form-inline my-2 my-lg-0" method="GET" action="{% url 'book:search_book' %}">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="query">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>
{% endblock header %}

{% block content %}
<h1>Welcome to Anurag's book library <small>Total books {{ total }}</small></h1>

<h3>Recently added...</h3>
<div class="row">
    {% for book in recent %}
    <div class="col-4">
        <div class="card" style="width:200px">
            <a href="{{ book.get_absolute_url }}">
                <img class="" src="{% if book.front_cover %}{{ book.front_cover.url }}{% endif %}" alt="Card image" height="auto" width="300">
            </a>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}